*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
}
.footer-section{
    width: 100%;
    background-color:#18171C;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px 120px;
}
.footer-main-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;    
}
.footer-logo-text{
     width: 30%;
    justify-self:start;
    align-self: flex-start;
}
.footer-logo-text h1{
font-size: 3rem;
font-weight: 600;
position: relative;
margin-bottom: 2rem;
}
.footer-logo-text h1::after{
    position: absolute;
    content: "";
    background-color: white;
    height: 2px;
    width: 90px;
    left: 0%;
    bottom: -20%;
}
.footer-logo-text p{
    font-size: 1.2rem;
    font-weight: 500;
}

.footer-quick-links{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.footer-quick-links h2{
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    margin-bottom: 1rem;
}
.footer-quick-links h2::after{
    position: absolute;
    content: "";
    background-color: white;
    height: 2px;
    width: 90px;
    left: 0%;
    bottom: -20%;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-links li{
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.footer-contact-info{
    display: flex;
    flex-direction: column;
}
.footer-contact-info h3{
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.footer-contact-info h3::after{
    position: absolute;
    content: "";
    background-color: white;
    height: 2px;
    width: 90px;
    left: 0%;
    bottom: -20%;
}
.footer-contact-info-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-decoration: none;
}
.footer-contact-info-links a{
text-decoration: none;
}
.footer-contact-info-links i{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    list-style: none ;
}
.footer-social-btn{
    display: flex;
    justify-content: space-between;
}
.footer-social-links{
    font-size:2rem;
    margin-top: 1rem;
    font-weight: 100;
}
.footer-horizntal-line {
    color: white;
    background-color: white;
    height: 2px;
    width: 100%;
    margin-top: 2rem;
}
.footer-term-condition{
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin-top: 1rem;
}

/* media query  */

@media(max-width:800px){
    .footer-main-div{
        flex-wrap: wrap; 
        gap: 0.5rem;
    }
    .footer-section{
        padding: 20px 30px;
    }
    .footer-logo-text{
        width: 60%;
    }
}